@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilos generales del body*/
body {
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #E0E0E6;
}

body::-webkit-scrollbar-thumb {
  background-color: #040534;
  border-radius: 20px;
  border: 3px solid #E0E0E6;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
/* Estilos del header*/
.navbar-custom {
  background-color: #040534;
  padding: 10px 20px;
}
.navbar-custom .offcanvas-body {
  background-color: #040534;
}
.navbar-custom .offcanvas-body ul.navbar-nav {
  text-align: center;
}
.navbar-custom .offcanvas-header {
  background-color: #040534;
}
.navbar-custom div .navbar-toggler {
  border: 1px solid #040534;
  border-radius: 2px;
}
.navbar-custom .logoprincipal {
  height: auto;
  width: 175px;
  margin-right: 75px;
}
.navbar-custom .logowhatsapp {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.navbar-custom .logowhatsapp:hover {
  animation: pulse 1s infinite;
}
.navbar-custom .telefono {
  text-decoration: none;
  color: #fff;
}

/* Diseño footer */
.footer {
  background-color: #040534;
  padding: 10px 15px 2px 15px;
  color: #fff;
}
.footer .div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .div-footer article h4, .footer .div-footer article h3 {
  font-size: large;
}
.footer .div-footer article h2 {
  font-size: 1.5rem;
}
.footer .div-footer .contacto {
  text-align: center;
}
.footer .div-footer .redes-sociales {
  text-align: center;
}
.footer .div-footer .redes-sociales h2 {
  text-align: center;
}
.footer .div-footer .redes-sociales .redes-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .div-footer .redes-sociales .redes-content h3 {
  margin-right: 10px;
}
.footer .div-footer .redes-sociales .redes-content img {
  height: 40px;
  width: 40px;
}
.footer .div-footer .redes-sociales .redes-content .instagramuser {
  text-decoration: none;
  color: #fff;
}

.newsletter {
  border: 2px solid #626380;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  text-align: left;
}
.newsletter h2 {
  text-align: center;
}
.newsletter .newsletter-form input[type=email] {
  margin-bottom: 10px;
}
.newsletter .newsletter-form button {
  background: #434467;
  color: white;
  padding: 10px 20px;
  padding-left: 12px;
  margin: 5px auto 0;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.newsletter .newsletter-form button :hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.newsletter .newsletter-form button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.newsletter .newsletter-form button span :hover {
  transform: translateX(5em);
}
.newsletter .newsletter-form button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.newsletter .newsletter-form button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.newsletter .newsletter-form button:hover span {
  transform: translateX(5em);
}
.newsletter .newsletter-form button:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

/*.boton-enviar-newslleter  {
            @include boton;
            margin: 10px auto 0;
            border: $color-fondo;
            &:hover {
                background-color: $color-boton-hover;
            }*/
/* Estilos del main de index.html*/
.main {
  background-color: #E0E0E6;
  text-align: center;
  min-height: calc(100vh - 113.65px - 167.17px);
}
.main img {
  width: 100%;
  max-height: 40vh;
  height: auto;
  object-fit: cover;
}
.main .titulo {
  padding-top: 25px;
}
.main .titulo h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5019607843);
  color: #040534;
}
.main .articulos-content {
  display: flex;
  justify-content: space-between;
  margin: 50px 300px 50px 300px;
}
.main .article {
  border: 2px solid #626380;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  max-width: 300px;
  text-align: center;
}
.main .custom-card {
  background-color: rgba(98, 99, 128, 0.08);
  border-bottom: 4px solid #626380;
  border-right: 4px solid #626380;
  border-top: 1px solid rgba(98, 99, 128, 0.08);
  border-left: 1px solid rgba(98, 99, 128, 0.08);
  border-radius: 10px;
  transition: border 0.2s;
  padding: 20px;
  flex: 1;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .custom-card img {
  max-width: 100px;
  display: flex;
  margin: 0 auto 10px;
}
.main .custom-card .card-title {
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-align: center;
  flex: 1;
}
.main .custom-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.main .custom-card .card-body-custom {
  padding: 0%;
}
.main .links {
  display: flex;
  width: 100%;
}
.main .links a {
  flex: 1;
}
.main .links img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* Estilos del main de espacios.html*/
.main-espacios {
  background-color: #E0E0E6;
  padding-bottom: 10px;
  min-height: calc(100vh - 113.65px - 167.17px);
}
.main-espacios img {
  width: 100%;
  max-height: 40vh;
  height: auto;
  object-fit: cover;
}
.main-espacios h1 {
  font-size: 35px;
  text-align: center;
  color: #040534;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5019607843);
  margin-bottom: 20px;
  margin-top: 15px;
}
.main-espacios .titulo {
  text-align: center;
  padding: 20px;
  display: flex;
  gap: 15px;
}
.main-espacios .titulo article {
  background-color: rgba(98, 99, 128, 0.08);
  border-bottom: 4px solid #626380;
  border-right: 4px solid #626380;
  border-top: 1px solid rgba(98, 99, 128, 0.08);
  border-left: 1px solid rgba(98, 99, 128, 0.08);
  border-radius: 10px;
  transition: border 0.2s;
  padding: 5px;
  margin-bottom: 20px;
}
.main-espacios .titulo article:hover {
  border-top: 4px solid #626380;
  border-left: 4px solid #626380;
  border-bottom: 1px solid rgba(98, 99, 128, 0.08);
  border-right: 1px solid rgba(98, 99, 128, 0.08);
  border-radius: 10px;
}
.main-espacios .titulo article h2 {
  font-size: 24px;
  color: #040534;
}
.main-espacios .titulo article p {
  font-size: 18px;
  color: #040534;
}
.main-espacios #carouselExampleIndicators {
  max-width: 800px;
  margin: 0 auto;
}
.main-espacios .carousel-item img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
.main-espacios .boton-main {
  text-align: center;
  margin-top: 10px;
}
.main-espacios .boton-main .btn {
  position: relative;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #434467;
}
.main-espacios .boton-main .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.main-espacios .boton-main .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.main-espacios .boton-main .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.main-espacios .boton-main .btn::after {
  background-color: #434467;
}
.main-espacios .boton-main .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Estilos de Servicios.html*/
.main-servicios {
  min-height: calc(100vh - 113.65px - 167.17px);
  background-color: #E0E0E6;
  padding-bottom: 20px;
}
.main-servicios img {
  width: 100%;
  max-height: 40vh;
  height: auto;
  object-fit: cover;
}
.main-servicios h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5019607843);
  color: #040534;
  margin-top: 15px;
}
.main-servicios h3 {
  text-align: center;
  margin: 20px;
}
.main-servicios .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 15px 0px 15px;
  gap: 10px;
}
.main-servicios .services .card {
  background-color: rgba(98, 99, 128, 0.08);
  border-bottom: 4px solid #626380;
  border-right: 4px solid #626380;
  border-top: 1px solid rgba(98, 99, 128, 0.08);
  border-left: 1px solid rgba(98, 99, 128, 0.08);
  border-radius: 10px;
  transition: border 0.2s;
  padding: 20px;
}
.main-servicios .services ul {
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
}
.main-servicios .custom-card-services {
  height: 225px;
}
.main-servicios .custom-card-services .center-img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}
.main-servicios .custom-card-services .card-body {
  padding: 5px 0px 5px 0px;
}
.main-servicios .custom-card-services .card-body .card-text {
  text-align: center;
}

/* Estilos del FAQ*/
.grid-container-faq {
  display: grid;
  height: 100vh;
}
.grid-container-faq .main-faq {
  background-color: #E0E0E6;
  padding: 60px 0px 100px 0px;
}
.grid-container-faq .main-faq .faq-container {
  padding: 0px 550px 0px 550px;
}
.grid-container-faq .main-faq .tittle-faq {
  text-align: center;
  padding: 0px 0px 35px 15px;
  color: #040534;
}
.grid-container-faq .main-faq .tittle-faq .faq {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-container-faq .main-faq .tittle-faq .faq h2 {
  font-size: 24px;
  padding-left: 15px;
}
.grid-container-faq .main-faq .tittle-faq .faq .custom-accordion {
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}
.grid-container-faq .main-faq .tittle-faq .faq .custom-accordion .accordion-item {
  border-radius: 10px;
  margin-bottom: 10px;
}
.grid-container-faq .main-faq .tittle-faq .faq .custom-accordion .accordion-header-custom {
  padding-left: 0;
}

/*Estilos de Contactos*/
.contact-tittle {
  background-color: #E0E0E6;
  padding-top: 15px;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5019607843);
  color: #040534;
}

.main-contact {
  background-color: #E0E0E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}
.main-contact form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  width: 70vh;
  flex-direction: column;
  gap: 10px;
}
.main-contact form label {
  font-weight: bold;
}
.main-contact form input[type=text],
.main-contact form input[type=tel],
.main-contact form input[type=email],
.main-contact form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-contact form input[type=submit],
.main-contact form input[type=reset] {
  background-color: #434467;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: #040534;
}
.main-contact form input[type=submit]:hover,
.main-contact form input[type=reset]:hover {
  background-color: #23244D;
}

.iframe {
  width: 544px;
  height: 944px;
  border-radius: 10px;
}

/* Estilos comunes para tamaños de pantalla entre 300px y 862px */
@media (max-width: 862px) and (min-width: 300px) {
  /*Header*/
  .navbar-custom .navbar-brand {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .navbar-custom .navbar-toggler {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .navbar-custom .d-flex.align-items-center {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .navbar-custom .container-fluid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .navbar-custom .logoprincipal {
    height: auto;
    width: 155px;
    margin: 0px auto;
  }
  .navbar-custom .telefono {
    font-size: 0.7rem;
  }
  /* Media query main index*/
  .main .articulos-content {
    padding: 5px;
    margin: 0px 5px 0px 5px;
    gap: 25px;
    align-items: center;
  }
  .main .articulos-content .custom-card {
    padding: 5px;
    height: 66vh;
  }
  .main .links img {
    height: auto;
  }
  /* Media query para Espacios */
  .main-espacios #carouselExampleIndicators {
    margin: 0 5px;
  }
  .main-espacios .titulo {
    flex-direction: column;
    padding: 0px 20px 15px 20px;
  }
  .main-espacios .titulo article {
    margin-bottom: 0px;
  }
  .main-espacios .titulo article h2 {
    font-size: medium;
  }
  .main-espacios .titulo article p {
    font-size: small;
  }
  /* Media query para Services*/
  .main-servicios .services {
    gap: 25px;
  }
  /* Media query para FAQ*/
  .grid-container-faq .main-faq {
    padding-top: 35px;
    padding-bottom: 0px;
  }
  .grid-container-faq .main-faq .faq-container {
    padding: 0px 75px 40px 75px;
  }
  .grid-container-faq .main-faq .tittle-faq {
    padding: 0px 5px 20px 5px;
  }
  .grid-container-faq .main-faq .faq {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* Media query footer */
  .footer .div-footer {
    display: flex;
    flex-direction: column;
  }
  .footer .div-footer article {
    text-align: center;
  }
  .footer .div-footer article h2 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .footer .div-footer article h4 {
    font-size: medium;
  }
  .footer .div-footer article input {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer .div-footer article .newsletter-form .boton-enviar-newslleter {
    margin: 0;
  }
  .footer .div-footer .redes-sociales {
    margin-bottom: 10px;
  }
  .footer .div-footer .redes-sociales h2 {
    font-size: medium;
  }
  /*Media query para contactanos*/
  .main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .main-contact form {
    width: 60%;
  }
  .main-contact .iframe {
    width: 80%;
    height: 40vh;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
  }
}
/*Estilos comunes para tamaños de pantalla entre 300px y 352px */
@media (max-width: 352px) and (min-width: 300px) {
  .navbar-custom .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-custom .navbar-custom {
    padding: 5px 5px;
  }
}
/*Estilos comunes para tamaños de pantalla entre 862px y 300px */
@media (max-width: 862px) and (min-width: 300px) {
  .main .articulos-content {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .main .articulos-content .custom-card .card-body-custom h5 {
    font-size: medium;
  }
  .main .articulos-content .custom-card .card-body-custom p {
    font-size: small;
  }
  .main .articulos-content .custom-card .card-body-custom ul li {
    font-size: small;
  }
}
/*Estilos comunes para tamaños de pantalla entre 863 y 1100px */
@media (max-width: 1100px) and (min-width: 863px) {
  /*Index*/
  .main .articulos-content {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    gap: 15px;
    align-items: center;
  }
  .main .articulos-content .custom-card {
    padding: 5px;
    height: 70vh;
  }
  .main .articulos-content .custom-card .card-body-custom {
    font-size: small;
    padding: 0px 2px 0px 2px;
  }
  .main .articulos-content .custom-card .card-body-custom h5 {
    font-size: medium;
    margin: 0px;
  }
  .main .articulos-content .custom-card .card-body-custom p {
    margin: 0px;
  }
  .main .links img {
    height: auto;
  }
  /*FAQ*/
  .grid-container-faq .main-faq {
    padding-top: 35px;
    padding-bottom: 0px;
  }
  .grid-container-faq .main-faq .faq-container {
    padding: 0px 75px 40px 75px;
  }
  /* Footer*/
  .footer .div-footer {
    gap: 10px;
  }
}
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.error404 {
  background-color: #E0E0E6;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.error404 .container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error404 .container-404 h1 {
  text-align: center;
  padding-top: 50px;
  color: #040534;
}
.error404 .container-404 p {
  text-align: center;
  font-size: x-large;
  margin-top: 15px;
}
.error404 .container-404 a .btn-custom {
  background-color: #434467;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
.error404 .container-404 img {
  width: 75vh;
}

/*# sourceMappingURL=styles.css.map */
