/* Diseño footer */
.footer {
    background-color: $color-fondo;
    padding: 10px 15px 2px 15px;
    color: $color-fuente;
    .div-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        article {
            h4, h3 {
                font-size:large;
            }
            h2 {
                font-size: 1.5rem;   
            }
        }
        .contacto {
            text-align: center;
            }
         .redes-sociales {
            text-align: center;
            h2 {
                text-align: center;  
            }
            .redes-content {
                display: flex;
                align-items: center;
                justify-content: center;
                h3 {
                    margin-right: 10px;
                  }
                img {
                    height: 40px;
                    width: 40px;
                  }
                  .instagramuser {
                    text-decoration: none;
                    color: $color-fuente;
                }
              }
            }
        }
}
.newsletter {
    border: 2px solid #626380;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    text-align: left;
    h2 {
        text-align: center;
    }
    .newsletter-form {
        input[type="email"] {
            margin-bottom: 10px;  
          }
        button {
            background: #434467;
            color: white;
            padding: 10px 20px;
            padding-left: 12px;
            margin: 5px auto 0;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.2s;
            cursor: pointer;
            & :hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
              }
            span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
                & :hover {
                    transform: translateX(5em);
                  }
              }
            svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
              }
              }
             
            button:hover svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
              }
              
              button:hover span {
                transform: translateX(5em);
              }
              
              button:active {
                transform: scale(0.95);
              }
              
              @keyframes fly-1 {
                from {
                  transform: translateY(0.1em);
                }
              
                to {
                  transform: translateY(-0.1em);
                }
              }
              
        }
    }

/*.boton-enviar-newslleter  {
            @include boton;
            margin: 10px auto 0;
            border: $color-fondo;
            &:hover {
                background-color: $color-boton-hover;
            }*/