/* Diseño footer */
.footer {
    background-color: $color-fondo;
    padding: 10px 15px 2px 15px;
    color: $color-fuente;
    .div-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        article {
            h4, h3 {
                font-size:large;
            }
            h2 {
                font-size: 1.5rem;   
            }
        }
        .contacto {
            text-align: center;
            }
         .redes-sociales {
            text-align: center;
            h2 {
                text-align: center;  
            }
            .redes-content {
                display: flex;
                align-items: center;
                justify-content: center;
                h3 {
                    margin-right: 10px;
                  }
                img {
                    height: 40px;
                    width: 40px;
                  }
                  .instagramuser {
                    text-decoration: none;
                    color: $color-fuente;
                }
              }
            }
        }
}
.newsletter {
    border: 2px solid #626380;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    text-align: left;
    h2 {
        text-align: center;
    }
    .newsletter-form {
        input[type="email"] {
            margin-bottom: 10px;  
          }
        .boton-enviar-newslleter  {
            @include boton;
            margin: 10px auto 0;
            border: $color-fondo;
            &:hover {
                background-color: $color-boton-hover;
            }
        }
    }
}
