/* Estilos comunes para tamaños de pantalla entre 300px y 862px */


@media (max-width: 862px) and (min-width: 300px){
  /*Header*/
    .navbar-custom{
        .navbar-brand {
            display: block;
            text-align: center;
            margin-top: 10px; 
          }
        .navbar-toggler {
            display: block;
            text-align: center;
            margin-top: 10px; }
        .d-flex.align-items-center {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            }
        .container-fluid {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            }
        .logoprincipal {
            height: auto;
            width: 155px;
            margin: 0px auto}
        .telefono {
            font-size: 0.7rem;
            }
    }
    /* Media query main index*/ 

    .main {
      .articulos-content {
        padding: 5px;
        margin:0px 5px 0px 5px;
        gap: 25px;
        align-items: center;
        .custom-card{
          padding: 5px;
          height: 66vh;
          
        }
      }
      .links img {
            height: auto;
        }
    }

    /* Media query para Espacios */
    .main-espacios {
      #carouselExampleIndicators {
        margin: 0 5px;
      }
      .titulo {
        flex-direction: column;
        padding: 0px 20px 15px 20px;
        article {
          margin-bottom: 0px;
          h2 {
            font-size: medium;
          }
          p{
            font-size: small;
          }
        }
      }
    }

    /* Media query para Services*/

    .main-servicios {
      .services{
        gap: 25px;
        }
      }
    
    /* Media query para FAQ*/           
    .grid-container-faq {
      .main-faq {
        padding-top: 35px;
        padding-bottom: 0px;
        .faq-container {
          padding: 0px 75px 40px 75px;
        }
        .tittle-faq {
          padding:0px 5px 20px 5px
        }
        .faq {
          padding-left: 5px;
          padding-right: 5px;
        } 
      }
    }
      
  
  /* Media query footer */

      .footer {
        .div-footer {
          display: flex;
          flex-direction: column;
            article {
              text-align: center;
              h2 {
                margin-bottom: 0;
                margin-top: 10px;      
              }
              h4 {
                font-size:medium;
              }
            input {
              padding-top: 5px;
              padding-bottom: 5px;
              }
            .newsletter-form{
              .boton-enviar-newslleter{
                margin: 0;
                }
              }
            }
            .redes-sociales{
              margin-bottom: 10px;
              h2{
                font-size: medium;
              }
            }
          }
      }      
         
   /*Media query para contactanos*/ 

      .main-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        form {
          width: 60%;
        }
        .iframe {
        width: 80%;
        height: 40vh;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 25px;
        }
      }        
    }
  /*Estilos comunes para tamaños de pantalla entre 300px y 352px */

  @media (max-width: 352px) and (min-width: 300px){
    .navbar-custom {
      .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
      }
      .navbar-custom {
        padding: 5px 5px;
        }
      }
    }
  /*Estilos comunes para tamaños de pantalla entre 862px y 300px */

    @media (max-width: 862px) and (min-width: 300px) {
      .main {
        .articulos-content {
          flex-direction: column;
          margin-bottom: 20px;
          .custom-card {
            .card-body-custom {
              h5 {
                font-size: medium;
              }
              p {
                font-size: small;
              }
              ul{
                li {
                  font-size: small;
                }
              }
            }
          }
        }
      }
    }
    /*Estilos comunes para tamaños de pantalla entre 863 y 1100px */

    @media (max-width: 1100px) and (min-width: 863px) {
  /*Index*/
      .main {
        .articulos-content {
          display: flex;
          flex-grow: 1;
          padding: 5px;
          margin:0px 5px 0px 5px;
          gap: 15px;
          align-items: center;
          .custom-card{
            padding: 5px;
            height: 70vh;
            .card-body-custom {
              font-size: small;
              padding: 0px 2px 0px 2px;
              h5 {
                font-size: medium;
                margin: 0px;
              }
              p {
                margin: 0px;
              }
            }
          }
        }
        .links img {
              height: auto;
          }
      }
      /*FAQ*/

      .grid-container-faq {
        .main-faq {
          padding-top: 35px;
          padding-bottom: 0px;
          .faq-container {
            padding: 0px 75px 40px 75px;
          }
        }
      }    
      /* Footer*/
      
    .footer{
      .div-footer {
        gap: 10px;
      }
    }
  }