/* Estilos comunes para tamaños de pantalla entre 300px y 862px */
/*Media query*/

@media (max-width: 862px) and (min-width: 300px){
  /*Header*/
    .navbar-custom{
        .navbar-brand {
            display: block;
            text-align: center;
            margin-top: 10px; 
          }
        .navbar-toggler {
            display: block;
            text-align: center;
            margin-top: 10px; }
        .d-flex.align-items-center {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            }
        .container-fluid {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            }
        .logoprincipal {
            height: auto;
            width: 155px;
            margin: 0px auto}
        .telefono {
            font-size: 0.7rem;
            }
    }
    /* Media query main index*/ 

    .main {
      .articulos-content {
        padding: 10px;
        gap: 5px;
        .custom-card{
          .card-body-custom {
            font-size: x-small;
            padding: 10px 2px 0px 2px;
            h5 {
              font-size: small;
            }
            }
          }
      }
      .links img {
            height: auto;
        }
    }
      
      
    }
     
    .main-faq {
        padding-top: 35px;
      }
  
      .tittle-faq {
        padding:0px 0px 20px 10px
      }
  
      .main-contact {
        display: block;
      }  
      
      
  /* Media query footer */

      .footer {
        .div-footer {
          display: flex;
          flex-direction: column;
            article {
              text-align: center;
              h2 {
                margin-bottom: 0
              };
              h4 {
                font-size:medium;
              }
            input {
              padding-top: 5px;
              padding-bottom: 5px;
              }
            .newsletter-form{
              .boton-enviar-newslleter{
                margin: 0;
                }
              }
            }
            .redes-sociales{
              h2 {font-size: medium;
                }
              }
          }
      }      
         
    /*Media query FAQ*/

    .grid-container-faq {
        .main-faq {
          padding-top: 35px;
          .tittle-faq {
          padding:0px 0px 20px 10px
          } 
        }
    }

    
      .iframe {
        width: 100%;
        height: 100vh;
        }
          

  
      @media (max-width: 352px) and (min-width: 300px){
        .navbar-custom {
            .container-fluid {
                padding-right: 0px;
                padding-left: 0px;
              }
            .navbar-custom {
                padding: 5px 5px;
            }
        }
    }