@mixin boton {
    background-color: $color-fondo-boton;
    color: $color-fuente;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@mixin banner {
    width: 100%;
    max-height: 40vh;
    height: auto;
    object-fit: cover;
}

@mixin card {
    background-color: rgba($color-elemento, 0.08);
    border-bottom: 4px solid $color-elemento; 
    border-right: 4px solid $color-elemento;
    border-top: 1px solid rgba($color-elemento, 0.08); 
    border-left: 1px solid rgba($color-elemento, 0.08);
    border-radius: 10px;
    transition: border 0.2s;
}

@mixin card-hover {
    border-top: 4px solid $color-elemento; 
    border-left: 4px solid $color-elemento;
    border-bottom: 1px solid rgba($color-elemento, 0.08); 
    border-right: 1px solid rgba($color-elemento, 0.08);
    border-radius: 10px;
}