@import url(../assets/fonts/Roboto-Regular.ttf);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fuente común */
body {
  font-family: 'Roboto', sans-serif;
  }

/* Header y elementos del mismo */
.navbar-custom, .offcanvas-title ul.navbar-nav li.nav-item a.nav-link,
.offcanvas-body, .offcanvas-header {
  background-color: #040534;
}

.navbar-custom {
  padding: 10px 20px;
}

.navbar-toggler {
  border: 1px solid #040534;
  border-radius: 2px;
}

.offcanvas-body ul.navbar-nav {
    text-align: center;
}

.logoprincipal {
  height: auto;
  width: 175px;
}

.menu {
  list-style: none;
  padding: 10px 20px;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.logowhatsapp {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.container-fluid .logowhatsapp:hover {
  animation: pulse 0.5s infinite;
}


@keyframes pulse {
  0% {
      transform: scale(1); 
  }
  50% {
      transform: scale(3); 
  }
  100% {
      transform: scale(1); 
}
}

.telefono {
  text-decoration: none;
  color: #ffffff;
}

/* Main index */

.main {
  background-color: #E0E0E6;
  text-align: center;
}

.banner-container {
  margin-top: 100px;
}

.imagen-principal {
  width: 100%;
  max-height: 40vh;
  height: auto;
  object-fit: cover;
  }

.titulo {
  padding-top: 25px;
}

.main article {
  border: 2px solid #626380;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.custom-card {
  border: 2px solid #626380;
  border-radius: 10px;
  background-color: transparent;
  padding: 20px;
  flex: 1;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-card img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

.custom-card .card-title {
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-align: center; 
  flex: 1; 
}

.custom-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.custom-card li {
  margin: 0;
}

.card-body-custom {
  padding: 0%;
}

.articulos-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px 50px 200px;
}

/* Enlaces */
.links {
  display: flex;
  width: 100%;
}

.links a {
  flex: 1;
}

.links img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* Main espacios */
.main-espacios {
  background-color: #E0E0E6;
  padding-bottom: 10px;
}

.main-espacios ul {
  list-style: none;
  text-align: center;
}

.main-espacios h1 {
  text-align: center;
  font-size: 35px;
}

#carouselExampleIndicators {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.container-button {
  text-align: center;
}

.custom-button {
  background-color: #434467;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px auto 0;
  text-align: center;
  width: max-content;
  border: none;
}

.custom-button:hover {
  background-color: #23244D;
  color: #fff;
}

/* Servicios */
.main-servicios {
  background-color: #E0E0E6;
  padding-bottom: 20px;
}

.main-servicios h1, h3 {
  text-align: center;
}

.services .card {
  border: 2px solid #626380;
  border-radius: 10px;
  padding: 20px;
  background-color: transparent;
}

section .custom-card-services {
  height: 225px;
}

.services .card ul{
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
}

.center-img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

.flex-container1{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
    margin: 0px 15px 0px 15px;
    gap: 10px; 
}

/* FAQ */

.grid-container-faq {
  display: grid;
  height: 100vh;
  }

.main-faq {
  background-color: #E0E0E6;
  padding: 50px 0px 50px 0px;
   }

.tittle-faq {
 text-align: center;
 padding: 0px 0px 35px 50px;
 color:#040534;
}

.faq {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-accordion .accordion-item {
  border-radius: 10px;
  margin-bottom: 10px;
}

.custom-accordion .accordion-header-custom {
  padding-left: 0;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #8182A8;
  color: #fff;
  border: 5px solid #646582;
  border-radius: 10px;
}

.faq h2 {
  font-size: 24px;
  padding-left: 15px;
}


/* Contacto */
.main-contact {
  background-color: #E0E0E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 130px 10px 20px 10px;
}

.main-contact form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #434467;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #23244D;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
  border-radius: 10px;
}

/* Footer */
.footer {
  background-color: #040534;
  padding: 10px 15px 2px 15px;
  color: #fff;
  }

footer section article h4, h3 {
  font-size:large; 
}

footer section article h2 {
  font-size: 1.5rem
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datos-footer {
  display: flex;
  justify-content: center;
}

.contacto, .redes-sociales {
  text-align: center;
  }

.redes-sociales h2 {
  text-align: center;
}

.redes-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-content h3 {
  margin-right: 10px;
}

.redes-content img {
  height: 40px;
  width: 40px;
}

.instagramuser {
    text-decoration: none;
    color: #ffffff;
}

.newsletter {
  border: 2px solid #626380;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  text-align: left
}

.newsletter-form input[type="email"] {
  margin-bottom: 10px;  
}

/*Media query*/

@media (max-width: 862px) and (min-width: 300px){
  
  .navbar-brand {
    display: block;
    text-align: center;
    margin-top: 10px; 
  }

.navbar-toggler {
    display: block;
    text-align: center;
    margin-top: 10px; }

  .d-flex.align-items-center {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header .container-fluid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

  .logoprincipal-container {
      flex: 1;
      text-align: center;
      padding: 10px;
      margin: -30px
  }
    
    .logoprincipal {
      height: auto;
      width: 155px;
      margin: 0px auto}
    
    .telefono {
      font-size: 0.7rem;
    }
    .card-body-custom .card-title-custom {
      font-size: small;
    }
    
    .main-faq {
      padding-top: 35px;
    }

    .tittle-faq {
      padding:0px 0px 20px 10px
    }

    .main-contact {
      display: block;
    }  
    
    .main .titulo div {
      font-size: x-small;
    }
    
    .articulos-content {
      padding: 50px 10px 50px 10px;
      gap: 5px;
    }

    .links img {
        height: auto;
    }

    footer section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto; 
      gap: 5px;
      }
    
    .div-footer {
      display: flex;
      flex-direction: column;
    }

    footer section article h4, h3 {
    font-size:medium; 
    }
     
    footer section article h2 {
    font-size: 1.0rem
    }
      
    .newsletter {
      grid-row: span 2;
      padding-right: 0%;
      }
    
    .iframe {
      width: 100%;
      height: 100vh;
      }
        
    }

    @media (max-width: 352px) and (min-width: 300px){
      .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
      }

      .navbar-custom {
        padding: 5px 5px;
    }
  }